* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: #fafafa;
}

header{
    width:100%;
    margin:0px;
    padding: 0px;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: fixed;
}

header div {
    display: flex;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

header div a{
    text-decoration: none;
    color: #fafafa;
    font-size: 130%;
}

#name-logo {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }