* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: #fafafa;
}


header{
    width:100%;
    margin:0px;
    padding: 0px;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: fixed;
}

header div {
    display: flex;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

header div a{
    text-decoration: none;
    color: #fafafa;
    font-size: 130%;
}

#main-photo img{
    padding-top:5%;
    height:1100px;
    width: 100%;
}

#first-about{
    margin-top:80px;
    color:#4C454C;
    text-align:center;
    font-size: x-large;
    width: 80%;
    margin-left: auto;
    margin-right:auto;
    border-style: dashed;
    border-color:#F77FBE;
    padding-top:5px;
    padding-bottom:5px;
}

.order{
    padding: 5%;
    padding-bottom: 0%;
    padding-top: 0%;
    display: flex;
    justify-content: space-between;
    font-size: 130%;
    font-weight: bolder;
}

#order-top{
    color:#4C454C;
    text-align:center;
    text-shadow: 1px 1px 3px #F77FBE;
    font-size: x-large;
    padding-top:40px;
}

.order .button-1{
    background: #F77FBE;
    color: #4C454C;
    border-color: #4C454C;
    height: 180px;
    width: 350px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: larger;
    border-radius: 12px;
}

.order .button-1:hover{
    background: #4C454C;
    color: #F77FBE;
}


.order #pre-order, #same-day-pickup{
    width: 50%;
    color: #4C454C;
    text-align: center;
}

#same-day-pickup > div{
    padding-top: 7%;
    height: 30%;
}

.order div div div {
    display: flex;
    justify-content: space-around;
}

.order div.row img {
    height: 220px;
    width: 280px;
}

#order-images{
    margin: 5%;
}

.labels{
    color: #F77FBE;
    
}

.labels div{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

.button-1{
    margin: 8% 20%;
}

.about-info div{
    margin: 2%;
}

.about-info{
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #4C454C;
    font-size: 200%;
}

hr.break{
    border: none;
    border-bottom: dashed 1px;
}

.about-info{
    display:flex;
}

.about-info > div{
    width: 33%;
}

.about-info > div div{
    font-size: large;
}

#directions a{
    text-decoration: underline;
    color: #4C454C;
    
}

#directions a:hover{
    color: #F77FBE;
}

#email{
    text-decoration: none;
    color: #4C454C;
    
}

.email:hover{
    color: #F77FBE;
}


footer{
    display: flex;
    height: 20%;
}

#bottom-img{
    height:20px;
    width: 20px;
}

footer > div{
    width: 33%;
}

#story{
    text-align:center;
    text-shadow: 1px 1px 3px #F77FBE;
}

#img-story{
    padding-bottom:50px;
}

#story-about{
    margin: auto;
    font-size:x-large;
    width: 50%;
    color: #4C454C;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 35%;
    margin-top: 2%;
  }

footer{
    width: 100%;
    background-image: url("./images/bg-footer-resize.png");
    height:130px;
    display: flex;
  }


#socials, 
#footer-name,
#footer-misc{
    /* display: flex; */
    width: 33%;
    margin-bottom:0px;
}

#socials{
    display:flex;
    /* padding-top:40px; */
    padding-left: 20px;
    margin-top:auto;
    margin-bottom: auto;
}

#insta,
#twitter,
#facebook,
#yelp{
    width:90%;
    height:90%;
    padding-left:20px;
    margin-top: auto;
    margin-bottom: auto;
}

#footer-name{
    color:white;
    width:100%;
    font-size: 40px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#footer-misc{
    color:white;
    font-size: 15px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

footer a{
    color:white;
}

#contact-info,
#career-info{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

#intro-contact,
#join-team{
    padding-top: 20px;
    font-size: x-large;
    color: #4C454C;
    padding-bottom:5px;
    text-shadow: 1px 1px 3px #F77FBE;
}

#contact-expl, 
#join-expl{
    font-size: x-large;
    color: #4C454C;
    padding-bottom:40px;
}

table, th, td {
    border: 1px solid;
    color: #4C454C;
    font-size: x-large;
    margin-left:auto;
    margin-right:auto;
}

th, td{
    width:30%;
    color: #4C454C;
}


#parent-list{
    text-align: center;
}

#parent-list > ul {
    display: inline-block;
}

#team{
    text-decoration: none;
    color:#F77FBE;
}

#team:hover{
    color:#4C454C;
}

ul{
    list-style-type: circle;
}

#responsive-header{
    display:none;
}


@media (min-width: 481px) and (max-width: 1024px)  {
    header{
        padding:0px;
    }
    #cakecups,
    #cakes,
    #pies,
    #other-goodies,
    #bread,
    #breakfast,
    #drinks, 
    #merch, 
    #about{
        display:none;
    }
    body{
        width:100%;
    }
    #name{
        margin-left:auto;
        margin-right:auto;
    }

    #main-photo{
        margin-left: auto;
        margin-right:auto;
        justify-content: center;
        padding-top:40px;
        padding-bottom:0px;
        margin-bottom:0px;
    }

    #home-img{
        height:600px !important;
        margin:0px;
    }

    #first-about{
        padding:0px;
        width: 80%;
        margin-left: auto;
        margin-right:auto;
    }
    #responsive-header{
        display:flex;
        justify-content: space-between;
        background-image: url("./images/black.jpg");
        height:60px;
        margin: 0px;
    }
    #responsive-header div {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        margin-top:auto;
        margin-bottom:auto;
    }
    #responsive-header div a{
        text-decoration: none;
        color: #fafafa;
        font-size: 100%;
        
    }

    .order div.row img {
        height: 140px;
        width: 160px;
    }

    .order .button-1{
        height: 120px;
        width: 240px;
        border-radius: 12px;
        margin: 6% 4%;
    }

    #contact-us, 
    #contact-expl,
    #join-expl{
        width: 80%;
        margin-left:auto;
        margin-right:auto;
    }


}